# Akbar Sahata S

### Week 4 - Homework 1 - 2.1

---

## Soal 1: Hello World to Python
    
Print Say Hello World to Python

In [1]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [2]:
a = 1
b = 2

In [3]:
print(a + b)

3

In [4]:
print(b - a)

1

In [5]:
print(a * b)

2

In [6]:
print(a / b)

0.5

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [7]:
a = 1
b = 2

In [8]:
print(int(a/b))

0

In [9]:
print(a/b)

0.5

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello digitalskola, saya firstname lastname! saya siap belajar python data science.'

In [10]:
firstname = input()
lastname = input()
sentence = (
  "Hello digitalskola, saya {firstname} {lastname}! "
  "saya siap belajar python data science."
).format(firstname = firstname, lastname = lastname)

print(sentence)

Hello digitalskola, saya akbar sahata! saya siap belajar python data science.

Expected Output :

Hello digitalskola, saya ahmad wali! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [27]:
p = 9.99999
q = 'the number: {}'.format(p)
print(q)

the number: 9.99999

Expected Output :

the number: 9.99999